html {
  font-family: Georgia, serif;
  color: #fff;
}

.content {
  background-color: #495562;
}

.btn {
  color: #fff;
  border-color: #97a49b;
  max-width: 25em;
}

.btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #97a49b;
}

@media only screen and (min-width: 42em) {

  header {
    position: relative;
    max-height: 500px;
  }

  .background {
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .8));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    width: 100%;
    height: 12em;
    position: absolute;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
  }

  .text {
    position: absolute;
    background-color: transparent;
    max-width: 25em;
    bottom: .7em;
    left: .7em;
    padding: 0;
  }

  .h1 {
    margin-bottom: 0;
  }

  .book {
    position: absolute;
    bottom: 1.2em;
    right: 1em;
  }

  .btn {
    color: #fff;
    border-color: #efefef;
  }

  .img {
    overflow: hidden;
    max-height: 500px;
  }

}
