html {
  font-family: Georgia;
  color: #fff;
}

.text {
  background-color: #495562;
}

.img {
  background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, 0));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

.btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #97a49b;
}
